table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    font-family: "Segoe UI", Arial, sans-serif;
    min-width: 600px;
    box-shadow: 0 0 15px #0077B6;
}

/* En-têtes */
thead tr {
    background-color: #0077B6;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

/* Cellules */
th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
}

/* Alternance des couleurs */
tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* Effet hover */
tbody tr:hover {
    background-color: #e2f5f1;
    cursor: pointer;
}

/* Dernière ligne sans bord */
tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* Titre des sections */
h2 {
    font-family: "Segoe UI", Arial, sans-serif;
    margin-top: 40px;
    color: #333;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


.titre {
    font-family: "Segoe UI", Arial, sans-serif;
    margin-top: 40px;
    color: #333;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.drinks{
    width: 220px;
    background: #CAF0F8;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    font-family: "Segoe UI", Arial, sans-serif;
    transition: transform 0.2s;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.Soft, .Beer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}