
.Titre{
    font-family: "Segoe UI", Arial, sans-serif;
    margin-top: 40px;
    color: #333;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.image{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.button{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

}